# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2

print(result)

7.4
9.4

##### Subtraction

In [14]:
result_difference = 5 - num1
print(result_difference)

result_difference -= 1
print(result_difference)

3
2

##### Multiplication

In [17]:
result_mul = num1 * num2
print(result_mul)

result_mul *=2
print(result_mul)

10.8
21.6

##### Division

In [21]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [23]:
# gives rounded down answer
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [25]:
# tells you the remainder
result_mod = num2 % num1
print(result_mod)

# if it returns 1, = odd number
# if returns 0, = even number
result_mod = 10 % 3
print(result_mod)

1.4000000000000004
1

Exponential

In [28]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

String Input-Output

 String Assignment

In [29]:
name = 'Rafi'
print(name)

Rafi

print() <br>
<p>Don't forget about end=' '</p>

In [33]:
print('This is my first name:', name)

print('full name:', name, end=' Griffin')

This is my first name: Rafi
full name: Rafi Griffin

String Concatenation

In [40]:
first_name = 'Rafi'
last_name = 'Griffin'

full_name = first_name + ' ' + last_name
print(full_name)

full_name += ', Jr.'
print(full_name)

Rafi Griffin
Rafi Griffin, Jr.

Type Conversion

In [43]:
number = '32'

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

input()

In [48]:
# input always returns a string

# name = input('What is your name?')
# print('nice to meet you, ' + name)

age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

What is your age?: 87
92

##### format()

In [53]:
age = input('What is your age? ')
result_string = 'You are {} {} and you are getting wiser!'.format(age, name)
print(result_string)

result_again = f'{age} is a great time in life!!'
print(result_again)

What is your age? 28
You are 28 Rafi and you are getting wiser!
28 is a great time in life!!

##### Old Way (python 2)

In [54]:
result_string2 = 'you are %s and you look great for your age' %age
print(result_string2)

you are 28 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [58]:
color = input('What color is your car?: ')
year = input('What year is your car?: ')
make_model = input('What make and model is your car?: ')

car_info = 'you drive a {} {} {}'.format(color, year, make_model)
print(car_info)

What color is your car?: silver
What year is your car?: 2021
What make and model is your car?: toyota tacoma
you drive a silver 2021 toyota tacoma

### If Statements

In [74]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && (and) F = F
# T && T = T
# T || (or) F = T
# F || T = T
# F || F = F

num1 = 10
num2 = 10
num3 = 1

# if num1 == 10:
#     print('equal values!')
# else:
#     print('not equal')
    
if num2 > num1 or num3 > 0:
    print('num2 is greater')
elif num1> num2:
    print('num1 is greater')
else:
    print('equal values')

num2 is greater

 'is' keyword

In [76]:
# the 'is' keyword is for checking for the same object, but not the same value
# the python syntax for 'is' : ==

num3 = 55

if num3 == 55:
    print('this is the exact number/object')

this is the exact number/object

##### 'in' keyword

In [77]:
# check if a character is in a string

character_name = "frodo baggins"

if "frodo in character_name":
    print('the ring bearer')

the ring bearer

##### 'not in' keyword'

In [78]:
sega_char = 'sonic'

if 'a' not in sega_char:
    print('a is NOT here..')

a is NOT here..

In-Class Exercise 2
Ask user for input, check to see if the letter 'p' is in the input

In [83]:
#  output: True -- if p is found
#  False -- if p is NOT found

name = input('What is your name? ')

if 'p' in name:
    print('your name has a p')
else:
    print('your name does not have a p')

What is your name? peter
your name has a p

## Using 'and'/'or' with If Statements

In [87]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [91]:
first_name = input('What is your name? ')
if first_name == 'smith':
    print('The name is Smith.')
elif first_name == 'brandon':
    print('The first name is brandon')
elif first_name != "max":
    print('the name is not max')
else:
    print('the name is max')

What is your name? max
the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [94]:
#  syntax:
# for counter in condition

name = [5,6,7,8]
print(name)

for letter in name:
    print(letter + 1)

[5, 6, 7, 8]
6
7
8
9

##### Using 'in' keyword

In [97]:
# see above

name = 'rafi'
a_list = [1,2,3,4]

for i in name:
    print(i)
for i in a_list:
    print(i)

r
a
f
i
1
2
3
4

##### Continue Statement

In [ ]:
# will continue to next iteration (skips that step)

In [100]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [101]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [104]:
name = 'Rafi Griffin'
for i in name:
    pass

##### Double For Loops

In [107]:
for i in range (2):
    for j in range (5):
        print('i = ', i, 'j= ', j)

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4
i =  1 j=  0
i =  1 j=  1
i =  1 j=  2
i =  1 j=  3
i =  1 j=  4

### While Loops

In [109]:
#  suyntax:
#  while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [114]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? poop
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [120]:
num = 0

while num < 5:
    print('\nWhile loop iteration: ' + str(num))
    
    for i in range (2):
        print('for loop iteration: ' + str(i))
        
    num += 1

While loop iteration: 0
for loop iteration: 0
for loop iteration: 1

While loop iteration: 1
for loop iteration: 0
for loop iteration: 1

While loop iteration: 2
for loop iteration: 0
for loop iteration: 1

While loop iteration: 3
for loop iteration: 0
for loop iteration: 1

While loop iteration: 4
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [124]:
# range(start, stop, step)

for i in range (1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### len()

In [128]:
name = input('Give me the name of your favorite book: ')

length = len(name)
print(length)

Give me the name of your favorite book: the lord of the rings trilogy
29

##### help()

In [130]:
#  use this funvtion to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

#  check a variable to find out what object family (data type) it belongs to
#  isinstance(var, type)

num = 4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")
    
# ex:
# print(isinstance(4.5, int))

# if isinstance(4.5, float):
#     print('this number is a float type')

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>